<div class="boxfooter">
    <div class="container">
        <footer>
            <section class="logo">
                <p>啊啊啊啊啊啊啊啊</p>
            </section>
            <section class="nav">
                <div>
                    <ul>
                        <li><a href="#">关于</a></li>
                        <li><a href="#">关于我们</a></li>
                        <li><a href="#">广告合作</a></li>
                        <li><a href="#">友情链接</a></li>
                    </ul>
                </div>
                <div>
                    <ul class="contact">
                        <li>联系方式： 0371-xxx-xxx</li>
                        <li>联系QQ： 897400666</li>
                        <li>电子邮件： 121@qq.com</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li><a href="#">旗下网站</a></li>
                        <li><a href="#">XXX公司</a></li>
                        <li><a href="#">个人博客</a></li>
                    </ul>
                </div>
            </section>
        </footer>
        <div class="copyright"></div>
    </div>
</div>